.containerAllCoutriesTaable{
    width: 80%; height: 80vh;
    margin-top: 50px; margin-left: auto; margin-right: auto;  
    background-color: white; border-radius: 10px; margin-bottom: 50px;

    .addButton{
        background-color: rgb(7, 6, 59);
        color: white; font-weight: bold; text-transform: capitalize;
        border-radius: 5px; padding: 10px 20px; cursor: pointer;
    }
    .removeButtonSection{
        background-color: red;
        color: white; font-weight: bold; text-transform: capitalize;
        border-radius: 5px; padding: 10px 20px; cursor: pointer;

    }
}